# Telegram Bot
TELEGRAM_BOT_TOKEN=bot_token

# AI Configuration
DEEPSEEK_API_KEY=your_deepseek_api_key_here

# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=postgres

# Bot Configuration
NODE_ENV=development
BOT_USERNAME=your_bot_username

# ComfyUI Configuration
COMFYUI_API_URL=comfyui_token

# Google Cloud Storage Configuration
GCP_PROJECT_ID=trendy-a80a1
GCS_BUCKET_NAME=trendy-a80a1.appspot.com
GCP_KEY_FILE=src/assets/trendy-430522-d97e32e02ed9.json

# Spice Configuration (Currency System)
SPICE_INITIAL_BONUS=100
SPICE_TEXT_RESPONSE_COST=1
SPICE_IMAGE_GENERATION_COST=30
SPICE_VIDEO_GENERATION_COST=50
SPICE_INVITER_BONUS=100
SPICE_INVITEE_BONUS=100
